Repository Idean/Flutter-Neumorphic, pull requests merged in 2020-02, with the labels that each got.

#13 Fix/emboss
  example/lib/container.dart
  example/lib/list_container.dart
  lib/colors.dart
  lib/neumortphic_decorator.dart
  lib/widget/button.dart
  lib/widget/container.dart
Labels: enhancement

#15 renamed distance to depth, added max/min depth
  example/lib/container.dart
  example/lib/list_container.dart
  lib/neumortphic_decorator.dart
  lib/theme.dart
  lib/widget/button.dart
  lib/widget/container.dart
Labels: enhancement

#17 added progressBar
  example/lib/list_container.dart
  example/lib/main.dart
  example/lib/widgets.dart
  lib/colors.dart
  lib/flutter_neumorphic.dart
  lib/theme.dart
  lib/theme_finder.dart
  lib/widget/container.dart
  lib/widget/progress.dart
Labels: enhancement, widget

#21 added radio button
  example/lib/list_container.dart
  example/lib/widgets.dart
  lib/flutter_neumorphic.dart
  lib/widget/animation/animated_scale.dart
  lib/widget/button.dart
  lib/widget/indicator.dart
  lib/widget/progress.dart
  lib/widget/radio.dart
Labels: enhancement, widget

#22 Checkbox
  example/lib/widgets.dart
  lib/flutter_neumorphic.dart
  lib/neumortphic_decorator.dart
  lib/widget/button.dart
  lib/widget/checkbox.dart
Labels: enhancement, widget

#39 added seekbar 0.1
  example/lib/widgets.dart
  lib/flutter_neumorphic.dart
  lib/widget/progress.dart
  lib/widget/seekbar.dart
  lib/widget/slider.dart
Labels: enhancement, widget

#43 added darkTheme
  example/lib/list_container.dart
  lib/colors.dart
  lib/theme.dart
  lib/theme_finder.dart
  pubspec.lock
  pubspec.yaml
Labels: enhancement

#48 Adding neomorphic switch
  example/lib/widgets.dart
  lib/flutter_neumorphic.dart
  lib/widget/switch.dart
Labels: widget
